body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    background-color: #28a745; /* Verde suave */
    color: white;
    width: 250px;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

/* Estilo del perfil de administrador */
.admin-profile {
    text-align: center;
    margin-bottom: 20px;
}

.admin-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #444;
}

.sidebar ul li:hover {
    background-color: #218838;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.section {
    display: none;
}

.form-container {
    display: none;
    margin-top: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form label {
    margin: 10px 0 5px;
}

.form-container form input,
.form-container form select,
.form-container form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #218838; /* Verde oscuro */
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #1e7e34;
}
